*{
    margin: 0;
    padding: 0;
}
#navbar{
    height: 35px;
    width: auto;
    padding: 10px;
    background-color: rgb(0, 0, 0);
}
#navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 5px 15px;
}

#navbar ul li a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: larger;
    color: rgb(255, 255, 255);
}
header #cover{
    height: 94.2vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: aliceblue;
    background-image: url(images/cover/nasa-Q1p7bh3SHj8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
header #cover #title{
    height: auto;
    width: auto;
    font-weight: 900;
    font-size: x-large;
    padding: 40px;
    color: rgb(255, 255, 255);
}



#contant{
    /* background-color: antiquewhite; */
    height: fit-content;
    color: rgb(0, 0, 0);
    text-align: justify;
    margin: 50px 200px 0px 200px;
    padding: 20px;
}
#contant h2{
    text-align: center; 
    margin: 20px;
}
#contant #p1{
    text-align: center; 
    margin-bottom: 20px ;  
    color: #6c757d
}
#container{
    /* background-color: rgb(3, 3, 3); */
    height: fit-content;
    color: rgb(0, 0, 0);
    margin: 0px 200px 30px 200px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}
#container .divs{
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
}
#container .divs img{
    height: 200px;
    width: 200px;
}
#container .divs h4{
    text-align: center;
    font-weight: lighter;
}